*{
   padding: 0;
   margin: 0;
   background-color: #2196f3;
}

.main{
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.block{
 width:40px;
 height:500px;
 border:1px solid grey;
 margin-top:50px;
}

.wrapper {
    text-align: center;
}

button{
  padding: 20px;
  width: 200px;
  margin-top: 20px;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}

.array_wrapper{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Ablock{
 padding: 10px;
 border:5px solid grey;
 margin-top: 10px;
 background-color: white;
}
